/* CSS Document */

*{
    list-style: none;
    
}

body {
    background-color: #f2f0de;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    
}

/* Nav */

#sideNav {
    height: 40px;
}

#navbarResponsive{
    background-color:  #fad51d; 
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link{
    color: #131313;
    font-weight: bold;
    margin: 0 20px 0 20px;
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
    color:#fff;    
 }

form.d-flex{
    outline: none;
}

/* Header */
.banner{
    background-image: url(/img/sunriseHorizon.png);
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: bottom;
    box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    font-family:"Norwester";
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(15%, -50%);
    letter-spacing: 15px;
}

/* Main navigation */
.hero {
    background: #f2f0de;  
    position: relative;
    margin: 0.3rem auto;
    padding: 2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(0, 0, 0, 0.3);
}

.hero .static-txt{
    color: #131313;
    font-size: 60px;
    font-weight: 400;
    
}

.hero .dynamic-txts{
    margin-left: 100px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    
}

.dynamic-txts li{
    list-style: none;
    color: #0507E0;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -360px;
    }
}

.dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left:0;
    height: 100%;
    width: 100%;
    border-left: 2px solid #0507E0;
    animation: typing 3s steps(10) infinite;
}
@keyframes typing {
    40%, 60%{
        left: calc(100% + 5px);
    }
    100% {
        left: 0;
    }
}

/* Image CV */
.img_cv { 
    background-image: url(/img/foto_CV.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(-10%, -10%);
    object-fit: cover;
    object-position: bottom;
    background-size: 100% 100%;
    border-radius: 50%;
} 

/* Right Column */

.row {
    background: #f2f0de;
      
}

.col-12{
    margin: 0.3rem auto;
    padding: 2rem;
    box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.3);
}

.personal_info {
    margin-top: 10px; 
}

.personal_info li {
    list-style: none;
}

.personal_info li img{
    padding: 3%;
    width: 80px;
    height: 70px;
}

.btn-outline-light{
    padding: 6px;
    background-color:#fad51d; 
    color: #131313;
    font-weight: bold;
    
}

.btn-outline-light i{
    padding: 6px;
}

.btn-repo-demo{
    padding: 10px;
    background-color:#fad51d; 
    color: #131313;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    float: right;
    margin: 10px;
    cursor: pointer;
}

.btn-repo-demo:hover{
    background-color: #fff;
    transform: scale(1.1);
    transition: 0.5s;
}


/* Section */

h4{
    color: #2ca5ec;
    font-weight: bold;
}

.resume-section {
    margin: 0.3rem auto;
    padding: 2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(0, 0, 0, 0.3);
}

.skills-wrapper .col {
    display: flex;
    place-content: center;
    background-color: #131313;
    margin: 20px 20px 20px 20px;
    border-radius: 50%;
    width: 150px; height: 150px;
}

.skills-wrapper .col:nth-child(1){
    background-image: conic-gradient(#f16524 80%, transparent 0);
    color: #f16524;
}

.skills-wrapper .col:nth-child(2){
    background-image: conic-gradient(#1b84c1 60%, transparent 0);
    color: #1b84c1;
}

.skills-wrapper .col:nth-child(3){
    background-image: conic-gradient(#efd81d 70%, transparent 0);
    color: #efd81d;
}

.skills-wrapper .col:nth-child(4){
    background-image: conic-gradient(#f70707 50%, transparent 0);
    color: #f70707;
}

.skills-wrapper .col:nth-child(5){
    background-image: conic-gradient(#08f5e9f3 50%, transparent 0);
    color: #08f5e9f3;
}

.skills-wrapper .col:nth-child(6){
    background-image: conic-gradient(#08f573f3 50%, transparent 0);
    color: #08f573f3;
}

.skill{
    width: 100%; height: 100%;
    position: relative;
    display: grid; place-items: center;
    
}

.skill::before {
    content: "";
    position: absolute;
    width: 90%; height: 80%;
    border-radius: 50%;
    background-color: #131313;
    
}

.content {
    font-size: 18px;
    z-index: 1;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.content span {
    display: block;
}

.col {
    border-radius: 15px;
}

.col:hover {
    transform: scale(1.0);
}

.card{
    border-radius: 15px;
    box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.3);
}

.card img{
    border-radius: 15px;
}

/*Contact*/

form{
    margin: 40px 0;
}

form legend, form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

legend{
    color:#0507E0;
}

.input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 15px;
}

.input-container--invalid {
    margin-bottom: 0.5rem;
  }
  
  .input-container--invalid .input {
    border: 1px solid #f70707;
    border-radius: 7px;
  }
  
  .input-message-error {
    display: none;
  }
  
  .input-container--invalid .input-message-error {
    color: #f70707;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }

.enviar{
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    color: #131313;
    background: #fad51d;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: #fff;
    transform: scale(1.1);
    transition: 0.5s;
}

/*Social Networks*/

.sociales {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 3.5%;
    bottom: 50%;
  }
  
.social_icons{
    transform: translate(10%, 50%);
       
}

.social_icons li a img{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition:0.5s;
  border-radius: 50px;
  
}

.social_icons li a img:hover{
  transform: scale(1.5);
}


/* Footer */

footer {
    background-color: #fad51d; 
}


/* Scroll Up */

.desplazarse-hacia-arriba {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
    transition: all 4s ease;
    background: transparent;
    opacity: 0.7;
  }
  
  .flecha-arriba {
    width: 30px;
    height: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }

  